
<%- include('partials/header.ejs') %>
<!-- we need to add this path so that we can link & use our header n footer in our ejs file thats now moved into seperate folder named 'partials' which is common practice in nodejs -->

<h1>About</h1>
<p>
    <%= aboutText %>
</p>
<%- include('partials/footer.ejs') %>


