<%- include('partials/header.ejs') %>

    <h1>Oops! This Page Could Not Be Found </h1>
    <p>
        SORRY BUT THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST, HAVE BEEN REMOVED. NAME CHANGED OR IS TEMPORARILY UNAVAILABLE
    </p>


<%- include('partials/footer.ejs') %>